

.artifact-status{	
	background:#EAECF0;
}

#pipeView{
	background:none !important;
}

#pipeView span#job{
	padding-bottom:5px !important;	
	padding:0px !important; 
	border:1px solid #C7C8CB !important;
}

#pipeView span#job h5{
	margin-top:0px !important;	
	background:#D1D2D4;
	padding:8px 25px;
	margin-bottom:15px;	
}

a.artifact_btn{
	padding:2px 15px;
	text-decoration:none;	
	margin-left:19px !important;
	margin-bottom:6px;
	margin-top:19px;
}

.top-line{
	border-top:1px solid #C7C8CB;
	padding-right:19px;
}

.padTop{
	margin-top:15px;	
  }
	
/*
.data-head{
	color:#d43f3a;
	font-weight:700;
}
*/
.data-label{
	font-size:14px;
	width:100px;
	font-weight:normal;
	color:#202020;
}

.data-label::first-letter{
	text-transform: uppercase;	
}

.data-list{
	color:#696969;	
}

/*
.data-url{
	color:#1843AF;
	text-decoration:underline;
	font-weight:700;	
}
*/

.artifact-info {
	background:#EEEEEE;
	padding:8px 15px;
	margin-bottom:10px;
	padding-left: 0px;
}

.Artifact-lable{	
	padding: 4px 15px;
	font-weight:700;
}
.Artifact-lable:hover, .Artifact-lable:focus{
background:#C4C4C4;
}