<!DOCTYPE html>
<html ng-app>
<title>RapidCloud</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
<link href="css/style1.css" id="" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success" role="alert"><b>Message !!</b> Template is stored successfully.<span class="glyphicon glyphicon-remove-circle closeAlert closeMsg"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning" role="alert"><b>Warning!</b> Template name should not contain space and special character !@#$%^&*<span class="glyphicon glyphicon-remove-circle warning closeAlert"></span></div>
	<div class="alert alert-warning description" role="alert"><b>Warning!</b> Description should not contain special character !@#$%^&*<span class="glyphicon glyphicon-remove-circle warning closeAlert"></span></div>
	<div class="alert alert-danger" role="alert"><b>Alert!!</b> At least one Role should be there <span class="glyphicon glyphicon-remove-circle closeAlert closeError"></span></div>
</div>
<div class="logoBar">
		<div class="col-md-2 logoMenu" id="leftNavigation"></div>
		<div class="col-md-5 mainmenuIcons" id="">
		          <span>
		          <form class="" role="search">
					<div class="input-group add-on">
					  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					  <div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					  </div>
					</div>
					
                  </form>
				  </span>
				  
		</div>
		<div class="col-md-1 padLft0 padRgt0 mainmenuicons">
		      <span><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span><i class="fa fa-bell" aria-hidden="true"></i></span>
		</div>
		
		<div class="col-md-4 padLft0" id="" role="loginArea"></div>
</div>
<div class="mainNavSection">
		  <ul>
			   <li class="organizationTab"><i class="fa fa-gear"></i>Organization</li>		   
			   <li class="cloudopsTab navigationTabActive"><i class="fa fa-cloud"></i>CloudOps</li>
			   <li class="devopsTab"><i class="fa fa-cogs"></i>DevOps</li>
			   <li class="packagesTab"><i class="fa fa-square" aria-hidden="true"></i>Packages</li>
			   <li class="monitoringTab"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitoring</li>
			   <li class="dashboardTab"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</li>
		  </ul>
</div>
<div>
    <div id="singleNavigation" class="col-md-2">
      <div class="col-md-12">
            <div class="subnavMainTab subnavMainTabActive">Design</div>
            <ul>
                 <li class="designEnviron navigationTextActive"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
				 <!-- <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li> -->
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Deploy</div>
            <ul>
                 <li class="deployNetworks"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Networks</li>
				 <li class="deployEnvironment"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Manage</div>
            <ul>
                 <li class="manageEnvironments"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
				 <li class="manageLoadBalancer"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>LoadBalancer</li>
				<li class="manageTraffic"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>TrafficManager</li>             
            </ul>
      </div>
	 </div>
	 
	 <div class="singleNavigation col-md-10">
	<div class="container">
<div class=	"header-sec">
	<!--<header role="header">
			<a href="#"> <img src="images_1/RapidCloud_Logo.png" /> </a> <span class="header-txt"> Manage, Govern and Optimize your Cloud Environments </span>
			<img src="images_1/Sonata_Logo.png" class="second-logo"/>
			<ul>
				<li><span class="glyphicon glyphicon-bell"></span></li>
				<li><span class="glyphicon glyphicon-envelope"></span></li>
				<li><span class="glyphicon glyphicon-question-sign"></span></li>
				<li><span class="glyphicon glyphicon-cog"></span></li>
			</ul>
		</header>-->
		</div>

			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 createTemplateSection" role="contentArea">
			<nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<header>
				<h1>Create Templates <a href=""><span class="glyphicon glyphicon-plus-sign" onclick="createTem(this)" id="addRole" style="color:#999999;"></span></a></h1>
				<aside><div id="data"></data></aside>
			</header>
			<section role="createTemplate">
				<div class="roles" id="roleAdded">
					<div class="row" id="templateConta">					
					</div>
				</div>
				<div class="roles1" id="roleAdded1">
					<div class="row1" id="templateConta1">					
					</div>
				</div>

				
				<!--<div class="roles" style="background-color:#fff;padding:0px;">
					<div class="row">
					  <div class="roleID">
						<div class="pull-left">
							<label class="labelTemp">Project Name</label>
							<div class="clickRole">
								<span class="proJetName">Select</span>
								<ul style='' class="dropDown">
									<li onclick="dataUpDate(this)">
										<dl>
										  <dt>&nbsp;</dt>
										  <dd>TUI</dd>
										</dl>
									</li>
									<li onclick="dataUpDate(this)">
										<dl>
										  <dt>&nbsp;</dt>
										  <dd>Microsoft</dd>
										</dl>
									</li>									
								</ul>
								<span class="glyphicon glyphicon-chevron-down pull-right" style="padding-top:3px;"></span>
								</div>
							</div>
						</div>
						
						<div class="roleAttID">
							<div class="pull-left">
								<label class="labelTemp">Product Name</label>
								<div class="clickRole">
									<span class="proJetType">Select</span>
									<ul style='' class="dropDown">
										<li onclick="dataUpDate1(this)">
											<dl>
											  <dt>&nbsp;</dt>
											  <dd>TUI</dd>
											</dl>
										</li>
										<li onclick="dataUpDate1(this)">
											<dl>
											  <dt>&nbsp;</dt>
											  <dd>Microsoft</dd>
											</dl>
										</li>
										<li onclick="dataUpDate1(this)">
											<dl>
											  <dt>&nbsp;</dt>
											  <dd>Windows</dd>
											</dl>
										</li>
									</ul>							
									<span class="glyphicon glyphicon-chevron-down pull-right" style="padding-top:3px;"></span>
									</div>						
							</div>
						</div>
					
						<div class="">
							<div class="pull-left">
								<label class="labelTemp">Techonology</label>
								<div class="clickRole">
									<span class="projectTech">Select</span>
									<ul style='' class="dropDown">
										<li onclick="dataUpDate2(this)">
											<dl>
											  <dt>&nbsp;</dt>
											  <dd>Java</dd>
											</dl>
										</li>
										<li onclick="dataUpDate2(this)">
											<dl>
											  <dt>&nbsp;</dt>
											  <dd>.NET</dd>
											</dl>
										</li>
										<li onclick="dataUpDate2(this)">
											<dl>
											  <dt>&nbsp;</dt>
											  <dd>PHP</dd>
											</dl>
										</li>
									</ul>							
									<span class="glyphicon glyphicon-chevron-down pull-right" style="padding-top:3px;"></span>
									</div>						
							</div>
						</div>-->
						<div class="operatingSys">
							<div class="pull-left">
								<label class="labelTemp">Template Name</label>
								<div class="clickRole" style="width:293px;">
									<input type="text" id="t_name" style="border:none;width:100%;">
								</div>
							</div>
						</div>
						<div class="pull-right">							
						</div>
						<div class="tempalteNote">
							 <textarea id="t_desc" rows="4" cols="" placeholder="Note" maxlength="100" ></textarea>
							 <span>0/100</span>
						</div>
						<div class="templateCreateButtons">
							<button id="create_exit" onclick="saveTemplateInformation(this.id);">Create & Exit</button>
							<button id="save_exit" onclick="saveTemplateInformation(this.id);">Save & Next</button>
							<br><br>
						</div>
					</div>
				</div>
			</section>
		</section>
	</div>
		<footer>
			copyright &copy; to Sonata Software
		</footer>
	</div>
</div>
<script src="javascript_1/create_temp.js"></script>
<script src="javascript_1/menu.js"></script>
</body>
</html>