<!DOCTYPE html>
<html>
<head>
    <title>View DevOps Template</title>
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
    <!--<link href="css/dev-ops.css" rel="stylesheet"/>-->
    <link href="css_1/modules/deployDevOpsTemp.css"  rel="stylesheet"/>
    <link href="css_1/modules/deployPipelines.css"  rel="stylesheet"/>
	 <link href="css/style1.css" id="" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="javascript_1/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
</head>
<body  id="bg" class="devops_tab_template">
<div class="logoBar">
		<div class="col-md-2 logoMenu" id="leftNavigation"></div>
		<div class="col-md-5 mainmenuIcons" id="">
		          <span>
		          <form class="" role="search">
					<div class="input-group add-on">
					  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					  <div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					  </div>
					</div>
					
                  </form>
				  </span>
				  
		</div>
		<div class="col-md-1 padLft0 padRgt0 mainmenuicons">
		      <span><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span><i class="fa fa-bell" aria-hidden="true"></i></span>
		</div>
		
		<div class="col-md-4 padLft0" id="" role="loginArea"></div>
</div>
<div class="mainNavSection">
		  <ul>
			   <li class="organizationTab"><i class="fa fa-gear"></i>Organization</li>		   
			   <li class="cloudopsTab"><i class="fa fa-cloud"></i>CloudOps</li>
			   <li class="devopsTab navigationTabActive-devops"><i class="fa fa-cogs"></i>DevOps</li>
			   <li class="packagesTab"><i class="fa fa-square" aria-hidden="true"></i>Packages</li>
			   <li class="monitoringTab"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitoring</li>
			   <li class="dashboardTab"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</li>
		  </ul>
</div>
<div id="devOpsDesignTemplate">
<div id="singleNavigation" class="col-md-2">
      <div class="col-md-12">
            <div class="subnavMainTab">Design</div>
            <ul>
                 <li class="designDedicatedDevops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Dedicated DevOps</li>
				 <!-- <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li> -->
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab subnavMainTabActive-devops">Deploy</div>
            <ul>
                 <li class="deployDedicatedDevops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Dedicated DevOps</li>
				 <li class="deployPipeline navigationTextActive-devops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Pipeline</li>
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Manage</div>
            <ul>
                 <li class="manageBuild"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Build</li>
				 <li class="manageTechDebt"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>TechDebt</li>
				<li class="manageViewPackages"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>View Packages</li>             
            </ul>
      </div>
</div>
<div class="singleNavigation col-md-10">
<div class="container">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" role="contentArea" id="view_temp">
        <nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>

        <div class="" id="dedicated-layout">

          <section class="deployDevOps col-sm-7" id="templates">
              <div class="col-xs-12 preview-deploy" id="previewDeploy">
			                <div id="DevOpsStages" class="deploy-stages ">
              <ol class="track-progress deploy-wizard1 col-xs-12">
                  <li class="done">
                      <span>Select Pipelines</span>
                  </li><!--
               --><li>
                      <span>Configure Pipelines</span>
                  </li>
              </ol>
          </div>
          <hr class="line-seperator"/>
                  <div class="panel panel-default">
                      <div class="panel-heading">Choose Pipeline</div>
                      <div class="panel-body">
                          <div class="panel panel-default">
                              <div class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#ciContent">Choose CI Pipeline</div>
                              <div class="panel-body collapse in" id="ciContent">
                                  <label class="col-xs-12 pipeline-label ci">
                                      <input type="checkbox" class="col-xs-1" name="ci1-pipeline" value="CI1" />
                                      <ul class="col-xs-11 pipe-block">
                                          <li><img src="images/code.png" />Code Repo</li>
                                          <li><img src="images/build.png">Build</li>
                                      </ul>
                                  </label>
                                  <label class="col-xs-12 pipeline-label ci">
                                      <input type="checkbox" class="col-xs-1" name="ci2-pipeline" value="CI2" />
                                      <ul class="col-xs-11 pipe-block">
                                          <li><img src="images/code.png" />Code Repo</li>
                                          <li><img src="images/build.png">Build</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li><img src="images/testing1.png">Unit Test</li>
                                      </ul>
                                  </label>
                                  <label class="col-xs-12 pipeline-label ci">
                                      <input type="checkbox" class="col-xs-1" name="ci3-pipeline" value="CI3" />
                                      <ul class="col-xs-11 pipe-block">
                                          <li><img src="images/code.png" />Code Repo</li>
                                          <li><img src="images/build.png">Build </li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li><img src="images/testing1.png">Unit Test</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li><img src="images/code-coverage1.png">Code Coverage</li>
                                      </ul>
                                  </label>
                                  <label class="col-xs-12 pipeline-label ci">
                                      <input type="checkbox" class="col-xs-1" name="ci4-pipeline" value="CI4" />
                                      <ul class="col-xs-11 pipe-block">
                                          <li><img src="images/code.png" />Code Repo</li>
                                          <li><img src="images/build.png">Build</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li><img src="images/testing1.png">Unit Test</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li><img src="images/code-coverage1.png">Code Coverage</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li><img src="images/package.png">Package</li>
                                      </ul>
                                  </label>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading accordion-toggle"  data-toggle="collapse" data-target="#ctContent">Choose CT Pipeline</div>
                              <div class="panel-body collapse" id="ctContent">
                                  <label class="col-xs-12 pipeline-label">
                                      <input type="checkbox" class="col-xs-2" name="ct1-pipeline" value="CT1" />
                                      <ul class="col-xs-10 pipe-block">
                                          <li>SAT</li>
                                      </ul>
                                  </label>
                                  <label class="col-xs-12 pipeline-label">
                                      <input type="checkbox" class="col-xs-2" name="ct2-pipeline" value="CT2" />
                                      <ul class="col-xs-10 pipe-block">
                                          <li>SAT</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>UAT</li>
                                      </ul>
                                  </label>
                                  <label class="col-xs-12 pipeline-label">
                                      <input type="checkbox" class="col-xs-2" name="ct3-pipeline" value="CT3" />
                                      <ul class="col-xs-10 pipe-block">
                                          <li>SAT</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>UAT</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>PAT</li>
                                      </ul>
                                  </label>
                              </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading accordion-toggle"  data-toggle="collapse" data-target="#cdContent">Choose CD Pipeline</div>
                              <div class="panel-body collapse" id="cdContent">
                                  <label class="col-xs-12 pipeline-label">
                                      <input type="checkbox" class="col-xs-2" name="cd1-pipeline" value="CD1" />
                                      <ul class="col-xs-10 pipe-block">
                                          <li>Dedicated-App-Infra</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>Application-Tools</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>Application-Tool-Configuration</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>Application-Deployment</li>
                                          <!--<li class="icon">
                                          <i class="glyphicon glyphicon-arrow-right"></i>
                                      </li>
                                          <li>Application-Configuration</li>-->
                                      </ul>
                                  </label>
                                  <label class="col-xs-12 pipeline-label">
                                      <input type="checkbox" class="col-xs-2" name="cd2-pipeline" value="CD2" />
                                      <ul class="col-xs-10 pipe-block">
                                          <li>Dynamic-App-Infra</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>Application-Tools</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>Application-Tool-Configuration</li>
                                          <li class="icon">
                                              <i class="glyphicon glyphicon-arrow-right"></i>
                                          </li>
                                          <li>Application-Deployment</li>
                                          <!--<li class="icon">
                                          <i class="glyphicon glyphicon-arrow-right"></i>
                                      </li>
                                          <li>Application-Configuration</li>-->
                                      </ul>
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
                      <!--<div class="panel panel-default">
                          <div class="panel-heading content-title-heading">
                              Tools
                          </div>
                          <div class="panel-body deploy-tools">
                              <label class="tool-label">
                                  <img class="col-xs-12" src="/images_1/Github.png" />
                                  <figcaption>Github</figcaption>
                                  <input type="checkbox" name="tool" value="Github" class="col-xs-12 hidden" />
                              </label>
                              <label class="tool-label">
                                  <img class="col-xs-12" src="/images_1/Jenkins.png" />
                                  <figcaption>Jenkins</figcaption>
                                  <input type="checkbox" name="tool" value="Jenkins" class="col-xs-12 hidden" />
                              </label>
                              <label class="tool-label">
                                  <img class="col-xs-12" src="/images_1/Ant.png" />
                                  <figcaption>Ant</figcaption>
                                  <input type="checkbox" name="tool" value="Ant" class="col-xs-12 hidden" />
                              </label>
                              <label class="tool-label">
                                  <img class="col-xs-12" src="/images_1/Junit.png" />
                                  <figcaption>Junit</figcaption>
                                  <input type="checkbox" name="tool" value="Junit" class="col-xs-12 hidden" />
                              </label>
                              <label class="tool-label">
                                  <img class="col-xs-12" src="/images_1/Sonarqube.png" />
                                  <figcaption>Sonarqube</figcaption>
                                  <input type="checkbox" name="tool" value="Sonarqube" class="col-xs-12 hidden" />
                              </label>
                              <label class="tool-label">
                                  <img class="col-xs-12" src="/images_1/Nexus.png" />
                                  <figcaption>Nexus</figcaption>
                                  <input type="checkbox" name="tool" value="Nexus" class="col-xs-12 hidden" />
                              </label>
                          </div>
                      </div>-->
              </div>

          </section>
          <section class="overview col-sm-5 panel panel-default">
              <div class="panel-heading content-title-heading">Selection Overview</div>
              <div class="panel-body selection-overview">
                  <div class="infra-overview">
                      <h7 class="col-xs-12"><b>DevOps Infra : </b>Sonata Account</h7>
                      <h7 class="col-xs-12"><b>Cloud: </b>Azure</h7>
                      <div class="pipeline-overview"></div>
                      <div class="tools-overview"></div>
                  </div>
              </div>
          </section>
          <div class="templateCreateButtons">
              <button class="btn btn-lg btn-danger deploy-selection">Back</button>
              <button class="btn btn-lg btn-danger" id="configure">Next</button>
          </div>
        </div>
    </section>
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content alert-area">
                <div class="modal-body ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="alert-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer>Copyright &copy; to Sonata Software Private Limited</footer>
<script src="javascript_1/menu.js"></script>
<script src="javascript_1/deployPipelines.js"></script>
</body>
</html>