<!DOCTYPE html>
<html ng-app>
<title>RapidCloud</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
<link href="css_1/modules/designDevOpsTemp.css"  rel="stylesheet"/>
<link href="css/style1.css" id="" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg" class="devops_tab_template">
<div class="logoBar">
		<div class="col-md-2 logoMenu" id="leftNavigation"></div>
		<div class="col-md-5 mainmenuIcons" id="">
		          <span>
		          <form class="" role="search">
					<div class="input-group add-on">
					  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					  <div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					  </div>
					</div>
					
                  </form>
				  </span>
				  
		</div>
		<div class="col-md-1 padLft0 padRgt0 mainmenuicons">
		      <span><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span><i class="fa fa-bell" aria-hidden="true"></i></span>
		</div>
		
		<div class="col-md-4 padLft0" id="" role="loginArea"></div>
</div>
<div class="mainNavSection">
		  <ul>
			   <li class="organizationTab"><i class="fa fa-gear"></i>Organization</li>		   
			   <li class="cloudopsTab"><i class="fa fa-cloud"></i>CloudOps</li>
			   <li class="devopsTab navigationTabActive-devops"><i class="fa fa-cogs"></i>DevOps</li>
			   <li class="packagesTab"><i class="fa fa-square" aria-hidden="true"></i>Packages</li>
			   <li class="monitoringTab"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitoring</li>
			   <li class="dashboardTab"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</li>
		  </ul>
</div>
<div id="devOpsDesignTemplate">
<div id="singleNavigation" class="col-md-2">
      <div class="col-md-12">
            <div class="subnavMainTab subnavMainTabActive-devops">Design</div>
            <ul>
                 <li class="designDedicatedDevops navigationTextActive-devops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Dedicated DevOps</li>
				 <!-- <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li> -->
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Deploy</div>
            <ul>
                 <li class="deployDedicatedDevops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Dedicated DevOps</li>
				 <li class="deployPipeline"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Pipeline</li>
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Manage</div>
            <ul>
                 <li class="manageBuild"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Build</li>
				 <li class="manageTechDebt"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>TechDebt</li>
				<li class="manageViewPackages"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>View Packages</li>             
            </ul>
      </div>
</div>
<div class="singleNavigation col-md-10">
<div class="container">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" role="contentArea" id="view_temp">
        <nav class="themeCon"><ul id="designLin"></ul></nav>
        <div id="DevOpsStages" class="devops-stages">
            <ol class="track-progress design-wizard1 col-xs-12">
                <li class="done">
                  <span>Select Infrastructure</span>
                </li><!--
             --><li>
                  <span>DevOps Details</span>
                </li><!--
             --><li>
                  <span>Choose Pipeline</span>
               </li><!--
             --><li>
                  <span>Choose Tools</span>
               </li><!--
             --><li>
                  <span>Preview & Save DevOps</span>
               </li>
            </ol>
           <!-- <span class="devops-stage active">Select Infrastructure</span>
            <span class="glyphicon devops-stages-arrow glyphicon-arrow-right" aria-hidden="true"></span>
            <span class="devops-stage">DevOps Details</span>
            <span class="glyphicon devops-stages-arrow glyphicon-arrow-right" aria-hidden="true"></span>
            <span class="devops-stage">Choose Pipeline</span>
            <span class="glyphicon devops-stages-arrow glyphicon-arrow-right" aria-hidden="true"></span>
            <span class="devops-stage">Choose Tools</span>
            <span class="glyphicon devops-stages-arrow glyphicon-arrow-right" aria-hidden="true"></span>
            <span class="devops-stage">Preview & Save DevOps</span>-->
        </div>
        <hr class="line-seperator"/>
        <section role="template" class="templates">
            <div class="stage-infrastructure">

            </div>
        </section>
           <div class="templateCreateButtons">
               <button  class="btn btn-lg devstage-next step1 btn-danger" id="stageDevOps">Next</button>
               <button class="btn btn-lg devstage-cancel step1 btn-danger">Cancel</button>
               <button  class="btn btn-lg devstage-next step2 btn-danger hidden" id="stageInfra">Back</button>
               <button  class="btn btn-lg devstage-next step2 btn-danger hidden" id="stagePipeline">Next</button>
               <button  class="btn btn-lg devstage-next step3 btn-danger hidden" id="backStageDevOps">Back</button>
               <button  class="btn btn-lg devstage-next step3 btn-danger hidden" id="stageCodeRepo">Next</button>
               <button  class="btn btn-lg devstage-next step4 btn-danger hidden" id="backStagePipeline">Back</button>
               <button  class="btn btn-lg devstage-next step4 btn-danger hidden" id="stageBuildServer">Next</button>
               <button  class="btn btn-lg devstage-next step4-2 btn-danger hidden" id="backStageCodeRepo">Back</button>
               <button  class="btn btn-lg devstage-next step4-2 btn-danger hidden" id="stageBuildTool">Next</button>
               <button  class="btn btn-lg devstage-next step4-3 btn-danger hidden" id="backStageBuildServer">Back</button>
               <button  class="btn btn-lg devstage-next step4-3 btn-danger hidden" id="stageUnitTest">Next</button>
               <button  class="btn btn-lg devstage-next step4-4 btn-danger hidden" id="backStageBuildTool">Back</button>
               <button  class="btn btn-lg devstage-next step4-4 btn-danger hidden" id="stageCodeCoverage">Next</button>
               <button  class="btn btn-lg devstage-next step4-5 btn-danger hidden" id="backStageUnitTest">Back</button>
               <button  class="btn btn-lg devstage-next step4-5 btn-danger hidden" id="stagePackage">Next</button>
               <button  class="btn btn-lg devstage-next step4-6 btn-danger hidden" id="backStageCodeCoverage">Back</button>
               <button  class="btn btn-lg devstage-next step4-6 btn-danger hidden" id="stagePreviewSave">Next</button>
               <button  class="btn btn-lg devstage-next step5 btn-danger hidden" id="backStagePackage">Back</button>
               <button  class="btn btn-lg devstage-next step5 btn-danger hidden" id="stage6">Save</button>
           </div>
    </section>
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-area">
        <div class="modal-body ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="alert-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

    <footer>Copyright &copy; to Sonata Software Private Limited</footer>

</body>
<script src="javascript_1/designDevOpsTemp.js"></script>
<script src="javascript_1/menu.js"></script>
<!--<script src="javascript_1/vpc.js"></script>-->
<script src="javascript_1/node.js"></script>
</html>