<div class="alertS">
	<div class="alert alert-success alert-accName" role="alert"><b>Account</b> name already exists or it should not include special character<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-success" role="alert"><b>Well done!</b> You successfully read this important alert message.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning" role="alert"><b>Warning!</b> 
		<span class="aw"></span>
		<span class="glyphicon glyphicon-remove-circle closeAlert"></span>
	</div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> 
		<span class="ad"></span>
		<span class="glyphicon glyphicon-remove-circle closeAlert"></span>
	</div>
</div>
<div id="pop"></div>

<div id="create_Sub_POP" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew" style="width:34%;">
			<div class="modal-header">
			<button type="button" id="vmPopupClose" class="close" data-dismiss="modal" aria-label="Close"><!--<span aria-hidden="true">x</span>--></button>
			<h4 class="modal-title">Add VM</h4>
		  </div>
		   <div class="modal-body">
				<ul id="noDEpullL">
					
				</ul>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
			  <div class="modal-footer" id="vmPopBut">
				
			  </div>
		</div>
	</div>
</div>

			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				
				<div class="cndt_bold" role="forAzure">Resource Group</div>
				<div class="roles gapForDiv" rule="forAzure">
					<div class="pull-left">
						<label class="labelTemp">* Name</label>
						<div class="clickRole temp1stRowWid notAllowed" id="t_n" style="position:relative;">
							<input type="text" disabled placeholder="TUI_Name" id="RM_name" value="TestRG1" style="border:none;width:100%;">
						</div>
					</div>
				</div>
				<div class="roles" style="display:none;">
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="ci_check" name="CI"> Continues Integration </label> </div>
					</div>
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="ct_check" name="CT"> Continues Testing </label> </div>
					</div>	
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="cd_check" name="CD"> Continues Delivery </label> </div>
					</div>	
				</div>
				
				<div class="roles gapForDiv" role="forAzure">
				
					<div class="pull-left">
						<label class="labelTemp">Profile Name</label>
						<div class="clickRole temp1stRowWid" id="">
							<input type="text" placeholder="Ex: Name" id="PF_name" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label id="" class="labelTemp"><span>TrafficRoutingMethod</span></label>
						<div id="vpc2_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="vpc2_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Performance</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Weighted</dd></dl></li>
								<li onclick="selectOpt(this,2)" class="Test"><dl><dt></dt><dd class="va">Priority</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">Relative DNS Name</label>
						<div class="clickRole temp1stRowWid" id="">
							<input type="text" placeholder="Ex: Name" id="DNS_name" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">TTL</label>
						<div class="clickRole temp1stRowWid" id="" style="width:60px;">
							<input type="text" placeholder="" id="ttl" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label id="" class="labelTemp"><span>Monitor Protocol</span></label>
						<div id="vpc3_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="vpc3_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">HTTP</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">HTTPS</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">Monitor Port</label>
						<div class="clickRole temp1stRowWid" id="" style="width:60px;">
							<input type="text" placeholder="" id="MN_port" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">Monitor Path</label>
						<div class="clickRole temp1stRowWid" id="">
							<input type="text" placeholder="" id="MN_path" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">WebApp Name</label>
						<div class="clickRole temp1stRowWid" id="">
							<input type="text" placeholder="" id="WEB_name" style="border:none;width:100%;">
						</div>
					</div>
				</div>
				<div style="clear:both;" role="forAzure">&nbsp;</div>
				
				<div class="cndt_bold">Endpoint Config</div>
				<div class="roles gapForDiv" role="forAzure">
					<div class="pull-left">
						<label class="labelTemp">Endpoint Name</label>
						<div class="clickRole temp1stRowWid" id="">
							<input type="text" placeholder="" id="EP_name" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label id="" class="labelTemp"><span>Type</span></label>
						<div id="vpc4_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="vpc4_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">AzureEndpoints</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">ExternalEndpoints</dd></dl></li>
								<li onclick="selectOpt(this,2)" class="Test"><dl><dt></dt><dd class="va">NestedEndpoints</dd></dl></li>
							</ul>
							<span class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
					<div class="pull-left">
						<label id="" class="labelTemp"><span>Endpoint Status</span></label>
						<div id="vpc5_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="vpc5_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Enabled</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Disabled</dd></dl></li>
							</ul>
							<span class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
				</div>
				
				<div class="roles gapForDiv" role="forAWS">
					<div class="pull-left">
						<label class="labelTemp">VPC Name</label>
						<div class="clickRole temp1stRowWid" id="">
							<input type="text" placeholder="" id="" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label id="" class="labelTemp"><span>Policy</span></label>
						<div id="vpc6_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="vpc6_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Full Access</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Custom</dd></dl></li>
							</ul>
							<span class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
					<div class="pull-left">
						<label id="" class="labelTemp"><span>Route Table</span></label>
						<div id="vpc7_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="vpc7_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Option 1</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Option 2</dd></dl></li>
							</ul>
							<span class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
				</div>
				
				<div class="templateCreateButtons">
					<button id="cTA_Create">Cancel</button>
					<button id="cTA_CreateAndDeploy" onclick="createEndPoints();">Create</button>
					<br><br>
				</div>
				
			</section>