<!DOCTYPE html>
<html class="heAndW">
<title>Login</title>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg" class="heAndW">

</body>
<script>
window.opener.postMessage(location.href, "*")
console.log(location.href);
</script>
</html>