<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel='stylesheet' href='stylesheets/style1.css' />
<script>
function myFunctionId (id) {   
	 location.href = "http://172.29.59.63:3000/next"+"?prov_id="+id ; 
}
</script>
</head>

<body>

<header>
<img src="./stylesheets/logo.png" height="71px" width="372spx"/>
</header>          

<div id="header_content" class="header">
<font color="#FFFFFF">Provisioning</font>
</div>


<div class="content" id="cen">
                <div onClick="myFunctionId(this.id)" class="img1" id="AWS" name="aws" >
                                <img class="allimg" src="/stylesheets/img.png" id="aws">
                                </img>
                                <p class="para">Amazon Web Services</p>
                </div>

<div class="img1" id="Azure" onClick="myFunctionId(this.id)"><img class="allimg" src="/stylesheets/microsoft.png" id="mz"></img><p class="para">Microsoft Azure</p></div>
<div class="img1" id="hp" onClick="myFunctionId(this.id)"><img class="allimg" src="/stylesheets/hp.jpg" id="hp"></img><p class="para">Hp Helion</p></div>
<div class="img1" id="op" onClick="myFunctionId(this.id)"><img class="allimg" src="/stylesheets/open.jpg" id="op"></img><p class="para">Open Stack</p></div>
<div class="img1" id="sl" onClick="myFunctionId(this.id)"><img class="allimg" src="/stylesheets/softlayer.png" id="sl"></img><p class="para">Softlayer</p></div>
<!--</form>-->

</div>

<footer>
<font color="#FFFFFF">Follow us:</font>
</footer>

</body>
</html>
