<!DOCTYPE html>
<html>
<title>Environments</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="theme/theme1.css" id="myTheme" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success" role="alert"><b>Load Balancer</b> is created successfully. <span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning dnsName" role="alert"><b>Warning!</b> Enter the Name OR Don't include special character to Load Balancer name and must be unique .<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning epName" role="alert"><b>Warning!</b> Enter the name OR Don't include special character to End point name<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning lbsName" role="alert"><b>Warning!</b> Enter the name OR Don't include special character to Load Balanacer Set name<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> Change a few things up and try submitting again.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
</div>
<div id="addEndPointID" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew">
			<div class="modal-header">
			<button type="button" id="subnetsPopupClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title">EndPoints</h4>
		  </div>
		   <div class="modal-body">
				<div id="noDEpullL" class="nodeSel">
					<table style="width:100%;">
						<tr>
							<th><input type="checkbox" /></th>
							<th>Name</th>
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_1</td>							
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_2</td>							
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_3</td>							
						</tr>
					</table>
				</div>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
		  <div class="modal-footer">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton">Add Selected</button>
		  </div>
		</div>
	</div>
</div>

<div id="securityGroWin" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew" style="width:initial">
			<div class="modal-header">
			<button type="button" id="subnetsPopupClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title">New Security Group</h4>
		  </div>
		   <div class="modal-body">
				<div class="" style="margin-bottom:14px;">
					<label class="labelTemp">Security Group Name</label>
					<div class="clickRole addStoTabWid">
						<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">	
					</div>
				</div>
				<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
				  <ul id="myTabs" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Inbound</a></li>
					<li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Outbound</a></li>
				  </ul>
				  <div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							<div id="noDEpullL" class="nodeSel padToNew">
								<table style="width:100%;">
									<tr>
										<th>Type</th>
										<th>Protocol</th>
										<th>Port Range</th>
										<th>Source</th>
										<th></th>
									</tr>
									<tr>
										<td>
										 <div class="pull-left">
											<div id="typeDro" class="clickRole temp1stRowWid addStoTabWid "><span>Select</span>
												<ul id="sels" class="dropDown"><li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Dev</dd></dl></li><li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Test</dd></dl></li><li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Stag</dd></dl></li><li onclick="selectOpt(this,3)" class="Prod"><dl><dt></dt><dd class="va">Prod</dd></dl></li><li onclick="selectOpt(this,4)" class="others"><dl><dt></dt><dd class="va">Others</dd></dl></li>
												</ul>
												<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
											</div>
										  </div>
										</td>
										<td>
											<div class="pull-left">									
												<div class="clickRole addStoTabWid">
													<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">	
												</div>
											</div>
										</td>
										<td>
											<div class="pull-left">
												<div class="clickRole addStoTabWid">
													<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">
												</div>
											</div>
										</td>
										<td>
										  <div class="pull-left">
											<div id="sour" class="clickRole temp1stRowWid addStoTabWid "><span>Select</span>
												<ul id="sels" class="dropDown"><li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Dev</dd></dl></li><li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Test</dd></dl></li><li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Stag</dd></dl></li><li onclick="selectOpt(this,3)" class="Prod"><dl><dt></dt><dd class="va">Prod</dd></dl></li><li onclick="selectOpt(this,4)" class="others"><dl><dt></dt><dd class="va">Others</dd></dl></li>
												</ul>
												<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
											</div>
										  </div>
										  <div class="pull-left">
												<div class="clickRole addStoTabWid">
													<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">	
												</div>
										  </div>
										</td>
										<td>
											<button class="redButton pull-left countAlign 1stRowAdd" id="add0" name="add_0">Add</button>
										</td>
									</tr>
								</table>
							</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
							<div id="noDEpullL" class="nodeSel padToNew">
								<table style="width:100%;">
									<tr>
										<th>Type</th>
										<th>Protocol</th>
										<th>Port Range</th>
										<th>Source</th>
										<th></th>
									</tr>
									<tr>
										<td>
										 <div class="pull-left">
											<div id="typeDro" class="clickRole temp1stRowWid addStoTabWid "><span>Select</span>
												<ul id="sels" class="dropDown"><li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Dev</dd></dl></li><li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Test</dd></dl></li><li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Stag</dd></dl></li><li onclick="selectOpt(this,3)" class="Prod"><dl><dt></dt><dd class="va">Prod</dd></dl></li><li onclick="selectOpt(this,4)" class="others"><dl><dt></dt><dd class="va">Others</dd></dl></li>
												</ul>
												<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
											</div>
										  </div>
										</td>
										<td>
											<div class="pull-left">									
												<div class="clickRole addStoTabWid">
													<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">	
												</div>
											</div>
										</td>
										<td>
											<div class="pull-left">
												<div class="clickRole addStoTabWid">
													<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">
												</div>
											</div>
										</td>
										<td>
										  <div class="pull-left">
											<div id="sour" class="clickRole temp1stRowWid addStoTabWid "><span>Select</span>
												<ul id="sels" class="dropDown"><li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Dev</dd></dl></li><li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Test</dd></dl></li><li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Stag</dd></dl></li><li onclick="selectOpt(this,3)" class="Prod"><dl><dt></dt><dd class="va">Prod</dd></dl></li><li onclick="selectOpt(this,4)" class="others"><dl><dt></dt><dd class="va">Others</dd></dl></li>
												</ul>
												<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
											</div>
										  </div>
										  <div class="pull-left">
												<div class="clickRole addStoTabWid">
													<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">
												</div>
										  </div>
										</td>
										<td>
											<button class="redButton pull-left countAlign 1stRowAdd" id="add0" name="add_0">Add</button>
										</td>
									</tr>
								</table>
							</div>
					</div>
				  </div>
				</div>

				
				
		   </div>
		   <div style="clear:both;">&nbsp;</div>
		  <div class="modal-footer">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton">Create</button>
		  </div>
		</div>
	</div>
</div>

<div id="addInstPopUpWin" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew">
			<div class="modal-header">
			<button type="button" id="subnetsPopupClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title">Instances</h4>
		  </div>
		   <div class="modal-body">
				<div id="noDEpullL" class="nodeSel">
					<table style="width:100%;">
						<tr>
							<th><input type="checkbox" /></th>
							<th>Name</th>
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_1</td>							
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_2</td>							
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_3</td>							
						</tr>
					</table>
				</div>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
		  <div class="modal-footer">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton">Add Selected</button>
		  </div>
		</div>
	</div>
</div>

<div id="SubnetsPoup" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew">
			<div class="modal-header">
			<button type="button" id="subnetsPopupClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title">Available Subnet</h4>
		  </div>
		   <div class="modal-body">
				<div id="noDEpullL" class="nodeSel">
					<table style="width:100%;">
						<tr>
							<th><input type="checkbox" /></th>
							<th>Instance</th>
							<th>State</th>
							<th>Zone</th>
							<th>Subnet CIDR</th>
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_1</td>
							<td>Available</td>
							<td>South East</td>
							<td>123.12.21.2:3210</td>
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_1</td>
							<td>Available</td>
							<td>South East</td>
							<td>123.12.21.2:3210</td>
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_1</td>
							<td>Available</td>
							<td>South East</td>
							<td>123.12.21.2:3210</td>
						</tr>
						<tr>
							<td><input type="checkbox" /></td>
							<td>int_live_1</td>
							<td>Available</td>
							<td>South East</td>
							<td>123.12.21.2:3210</td>
						</tr>
					</table>
				</div>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
		  <div class="modal-footer">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton">Add Selected</button>
		  </div>
		</div>
	</div>
</div>

<div id="ConfigureHealthChecksAdvanced" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew">
			<div class="modal-header">
			<button type="button" id="ConfigureHealthpopupClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title">Configure Health Checks Advanced</h4>
		  </div>
		   <div class="modal-body">
				<div id="noDEpullL" class="pull-left">
					<div class="pull-left">
						<label class="labelTemp">
							<span>Healthy Threshold</span>
						</label>
						<div id="sel" class="clickRole temp1stRowWid addStoTabWid "><span>Select</span>
							<ul id="sels" class="dropDown"><li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Dev</dd></dl></li><li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Test</dd></dl></li><li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Stag</dd></dl></li><li onclick="selectOpt(this,3)" class="Prod"><dl><dt></dt><dd class="va">Prod</dd></dl></li><li onclick="selectOpt(this,4)" class="others"><dl><dt></dt><dd class="va">Others</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">
							<span>Unhealthy Threshold</span>
						</label>
						<div id="sel1" class="clickRole addStoTabWid temp1stRowWid"><span>Select</span>
							<ul id="sels" class="dropDown"><li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Dev</dd></dl></li><li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Test</dd></dl></li><li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Stag</dd></dl></li><li onclick="selectOpt(this,3)" class="Prod"><dl><dt></dt><dd class="va">Prod</dd></dl></li><li onclick="selectOpt(this,4)" class="others"><dl><dt></dt><dd class="va">Others</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">Response Time out</label>
						<div class="clickRole addStoTabWid">
							<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">	
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">Health Check Interval</label>
						<div class="clickRole">
							<input type="text" id="routeName" placeholder="" style="border:none;width:100%;">	
						</div>
					</div>
				</div>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
		  <div class="modal-footer">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton">Create</button>
		  </div>
		</div>
	</div>
</div>

<div id="volumeDetailsPopup">
	<div class="popupData" style="display: block;position: fixed;"></div>
	<div class="popData" style="display: block;width:66%;position: fixed;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title" id="titleOfPopup">Create New Volume</h4>
		</div>
	<div>
	   <div id="volumeCereatBlock" style="display:none;">
		<div class="modal-body">
				<div class="tab-pane fade  in active" id="alerts0">
				  <div class="roleID">
				    <div class="pull-left">
				      <label class="labelTemp">Volume Type</label>
				      <div id="selstg0" class="clickRole addStoTabWid"><span>Select</span>
				        <ul id="selsstg0" class="dropDown" style="display: none;">
				          <li onclick="selectOpt(this,0)" class="Provisioned IOPS SSD">
				            <dl><dt></dt>
				              <dd class="va">Provisioned IOPS SSD</dd>
				            </dl>
				          </li>
				          <li onclick="selectOpt(this,1)" class="General Purpose SSD">
				            <dl><dt></dt>
				              <dd class="va">General Purpose SSD</dd>
				            </dl>
				          </li>
				          <li onclick="selectOpt(this,2)" class="Magnetic">
				            <dl><dt></dt>
				              <dd class="va">Magnetic</dd>
				            </dl>
				          </li>
				        </ul><span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
				      </div>
				    </div>
				  </div>
				  <div class="operatingSys">
				    <div class="pull-left">
				      <label class="labelTemp">Volume Size</label>
				      <div class="clickRole addStoTabWid">
				        <input type="number" onchange="iopsFunction(this.value, 0)" id="stgsz0" min="1" style="border:none;width:100%;">
				      </div>
				    </div>
				  </div>
				  <div class="operatingSys">
				    <div class="pull-left">
				      <label class="labelTemp">IOPS</label>
				      <div class="clickRole addStoTabWid">
				        <input type="Text" id="stgIops0" placeholder="" style="border:none;width:100%;">
				      </div>
				    </div>
				  </div>
				  <div class="operatingSys">
				    <div class="pull-left">
				      <label class="labelTemp">Volume Name</label>
				      <div class="clickRole addStoTabWid">
				        <input id="stgName0" type="text" style="border:none;width:100%;">
				      </div>
				    </div>
				  </div>
				</div>
		</div>
		<br><br><br>
		<div style="float:right;padding:10px 41px 0 0;">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton" id="storage0" onclick="createStgFunction(this.id, 0)">Create</button>
			<button class="redButton" id="createVpc">Create & Attach</button>
		</div>
		</div>
		
		<div id="securityGrCreatBlock" style="display:none;"></div>
		
	  </div>
		
		<br><br><br>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			<h4 class="modal-title" id="existingData">Existing Volumes</h4>
		</div>
		<div class="modal-body">
			<table style="width:100%" class="nodeSel">
			  <tbody id="existingVolumesID">
				<tr>
					<th>Volume Name</th>
					<th>Volume Type</th>
					<th>Volume Size</th>
					<th>IOPS</th>
					<th></th>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<div class="container">		
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
			 <nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<header>
				<h1>Manage Nodes<a href=""></a></h1>
				<aside><div id="data"></data></aside>
				<!--<aside>
					<input type="text" value="Search">
				</aside>-->
			</header>
			<div style="clear:both;">&nbsp;</div>
			<div class="roles" style="display:none">
				<div class="pull-left">
					<label id="" class="labelTemp"><span>Accounts</span></label>
					<div id="typeDro1" class="clickRole temp1stRowWid"><span>Select</span>
						<ul id="accounts_ID" class="dropDown">
						</ul>
						<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
					</div>						
				</div>
			</div>
			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				<div class="countConfigBox">
					<table style="width:100%">
									<tr>
										<td>
											<table class="nodeSel enviTable">
												<tbody id="manageTable">
												<tr>
													<th>Project Name
													</th>
													<th>Products Name
													</th>
													<th>Environment
													</th>
													<th>Start Date
													</th>													
													<th>Nodes
													</th>
													<th>Actions
													</th>
													
												</tr>
												<tr style="display:none;">
													<td>DevOps
													</td>
													<td>Java
													</td>
													<td>15/01/2016
													</td>
													<td>2</td>
													<td class="five">5 <a href="#" class="redLinks" onmouseover="disPlayPop(this)">Status</a>
													<div style="position:relative">
														<div class="popover fade right in" role="tooltip" style="left:48px;">
															<div class="arrow" style="top:50%;"></div>
															<h3 class="popover-title statusOfNodeH3 tempBg">Status of Nodes</h3>
															<h3 class="popover-title">Template: <b>DevOps local</b></h3>
															<div class="popover-content">
																<ul class="statusNodes">
																	<li><span class="running"></span>App_Server</li>
																	<li><span class="stopped"></span>App_Server</li>
																	<li><span class="terminated"></span>App_Server</li>
																</ul>
															</div>
															<h3 class="popover-title">Template: <b>TUI development</b></h3>
															<div class="popover-content">
																<ul class="statusNodes">
																	<li><span class="terminated"></span>App_Server</li>
																</ul>
															</div>
														</div>
													</div>
													</td>
													<td>USA</td>
													<td><a href="#" class="redLinks liNkaction1">Actions</a></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>									
								</table>
				</div>				
				<div style="clear:both;">&nbsp;</div>
				<div class="roles" style="background-color:#fff;padding:0px;">
				</div>
				<div style="clear:both;">&nbsp;</div>
			</section>
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>
<script src="javascript_1/environments.js"></script>
<script src="javascript_1/manage.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");
});
</script>
</body>
</html>