<!DOCTYPE html>
<html ng-app>
<title>Environments</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="css_1/style.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success" role="alert"><b>Well done!</b> You successfully read this important alert message.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning" role="alert"><b>Warning!</b> Better check yourself, you're not looking too good.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> Change a few things up and try submitting again.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
</div>
<div class="container">
	<div class=	"header-sec">
		<header role="header">
			<a href="#"> <img src="images_1/RapidCloud_Logo.png" /> </a> <span class="header-txt"> Manage, Govern and Optimize your Cloud Environments</span>
			<img src="images_1/Sonata_Logo.png" class="second-logo"/>
			<ul>
				<li><span class="glyphicon glyphicon-bell"></span></li>
				<li><span class="glyphicon glyphicon-envelope"></span></li>
				<li><span class="glyphicon glyphicon-question-sign"></span></li>
				<li><span class="glyphicon glyphicon-cog"></span></li>
			</ul>
		</header>
		</div>
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
			<section role="aboutProject">
				<br>
				<img src="images_1/profile_pic.png" />
				<h1>Andreq M.Hammonds <span class="glyphicon glyphicon-chevron-down arrowRed"></span></h1>
				<br>
			</section>
			<menu role="profileLinks">
				<ul>
					<li>Sign in as User</li>
					<li>My Account</li>
					<li>Sign Out</li>
				</ul>
			</menu>
			<nav role="naviGation">
				<ul>
					<li class="naee"><a href="" class="activeTab">Design <span class="glyphicon glyphicon-chevron-down arrowGray rotateGray"></span></a>
						<dl>
							<dt class="activeLink">Templates</dt>
							<dt>Node</dt>
							<dt>Blueprints</dt>
							<dt>Networks</dt>
							<dt>Load Balancers</dt>
						</dl>
					</li>
					<li class="naee"><a href="">Deploy<span class="glyphicon glyphicon-chevron-down arrowGray"></span></a>
						<dl>
							<dt>Deploy Option 1</dt>
							<dt>Deploy Option 2</dt>
							<dt>Deploy Option 3</dt>
							<dt>Deploy Option 4</dt>
						</dl>
					</li>
					<li class="naee"><a href="">Manage<span class="glyphicon glyphicon-chevron-down arrowGray"></span></a>
						<dl>
							<dt>Manage Option 1a</dt>
							<dt>Manage Option 2a</dt>
							<dt>Manage Option 3a</dt>
							<dt>Manage Option 4a</dt>
						</dl>
					</li>
					<li class="naee"><a href="">Monitor<span class="glyphicon glyphicon-chevron-down arrowGray"></span></a>
						<dl>
							<dt>Monitor Option 1b</dt>
							<dt>Monitor Option 2b</dt>
							<dt>Monitor Option 3b</dt>
							<dt>Monitor Option 4b</dt>
						</dl>
					</li>
					<li class="naee"><a href="">Projects<span class="glyphicon glyphicon-chevron-down arrowGray"></span></a>
						<dl>
							<dt>Projects Option 1c</dt>
							<dt>Projects Option 2c</dt>
							<dt>Projects Option 3c</dt>
							<dt>Projects Option 4c</dt>
						</dl>
					</li>
				</ul>
			</nav>
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
			<header>
				<h1>Manage Nodes<a href=""></a></h1>
				<!--<aside>
					<input type="text" value="Search">
				</aside>-->
			</header>
			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				<div class="countConfigBox">
					<table style="width:100%">
									<tr>
										<td>
											<table class="nodeSel enviTable">
												<tbody id="manageTable">
												<tr>
													<th>Project Name
													</th>
													<th>Environment
													</th>
													<th>Start Date
													</th>
													<th>Team Size
													</th>
													<th>Nodes
													</th>
													<th>Actions
													</th>
													
												</tr>
												<tr style="display:none;">
													<td>DevOps
													</td>
													<td>Java
													</td>
													<td>15/01/2016
													</td>
													<td>2</td>
													<td class="five">5 <a href="#" class="redLinks" onmouseover="disPlayPop(this)">Status</a>
													<div style="position:relative">
														<div class="popover fade right in" role="tooltip" style="left:48px;">
															<div class="arrow" style="top:50%;"></div>
															<h3 class="popover-title statusOfNodeH3 tempBg">Status of Nodes</h3>
															<h3 class="popover-title">Template: <b>DevOps local</b></h3>
															<div class="popover-content">
																<ul class="statusNodes">
																	<li><span class="running"></span>App_Server</li>
																	<li><span class="stopped"></span>App_Server</li>
																	<li><span class="terminated"></span>App_Server</li>
																</ul>
															</div>
															<h3 class="popover-title">Template: <b>TUI development</b></h3>
															<div class="popover-content">
																<ul class="statusNodes">
																	<li><span class="terminated"></span>App_Server</li>
																</ul>
															</div>
														</div>
													</div>
													</td>
													<td>USA</td>
													<td><a href="#" class="redLinks liNkaction1">Actions</a></td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>									
								</table>
				</div>
				<div style="clear:both;">&nbsp;</div>
				<div class="roles" style="background-color:#fff;padding:0px;">
				</div>
				<div style="clear:both;">&nbsp;</div>
			</section>
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>
<script src="javascript_1/environments.js"></script>
<script src="javascript_1/menu.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");
});
</script>
</body>
</html>