<!DOCTYPE html>
<html>
<title>Manage Volumes</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="theme/theme1.css" id="myTheme" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success" role="alert"><b>Load Balancer</b> is created successfully. <span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning dnsName" role="alert"><b>Warning!</b> Enter the Name OR Don't include special character to Load Balancer name and must be unique .<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning epName" role="alert"><b>Warning!</b> Enter the name OR Don't include special character to End point name<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning lbsName" role="alert"><b>Warning!</b> Enter the name OR Don't include special character to Load Balanacer Set name<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> Change a few things up and try submitting again.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
</div>

<div id="instan" style="display:none;">
	<div class="popupData1" style="display: block;position: fixed;"></div>
	<div class="popData1" style="display: block;width:66%;position: fixed;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			<h4 class="modal-title" id="titleOfPopup">Instances</h4>
		</div>
		
		<div class="modal-body">
			<table style="width:100%" class="nodeSel">
			  <thead id="">
				<tr>
					<th>Instance Name</th>
					<th>Select</th>
				</tr>
			  </thead>
			  <tbody id="instList">				
			  </tbody>
			</table>
		</div>
		<div style="float:right;padding:10px 41px 10px 0;">
			<a class="cancelPoup">Cancel</a>&nbsp;
			<button class="redButton" id="createVpc" onclick="mV.selectDone()">Done</button>
		</div>
	</div>
</div>

<div class="container">
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
			 <nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<header>
				<h1>Manage Volumes<a href=""></a></h1>
				<aside>
					<div id="data"></data>
					<button class="redButton countAlign createAccount" onclick="mV.createVolume(this)" id="createVolume" name="add_0">Create New</button>
				</aside>
			</header>
			<div style="clear:both;line-height:10px;">&nbsp;</div>
			<div class="roles">
				<div class="pull-left" style="display:none;">
					<label id="" class="labelTemp"><span>Projects</span></label>
					<div id="typeDro1" class="clickRole temp1stRowWid"><span>Select</span>
						<ul id="accounts_ID" class="dropDown">
						</ul>
						<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
					</div>						
				</div>
				<div class="pull-left">
					<label id="" class="labelTemp"><span>Environments</span></label>
					<div id="endpointFs2" class="clickRole temp1stRowWid"><span>Select</span>
						<ul id="endpointFs2_Drop" class="dropDown" style="display: none;">
							<!--<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Option 1</dd></dl></li>
							<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Option 2</dd></dl></li>-->
						</ul>
						<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
					</div>
				</div>
				
				
			</div>
			<div>&nbsp;</div>
			<div>
				<table class="nodeSel enviTable">
					<tr id="mvTable">
						<th>ID</th>
						<th>Name</th>
						<th>Size</th>
						<th>Type</th>
						<th>IOPS</th>
						<th>status</th>
						<th>Availability Zone</th>
						<th>Region</th>
						<th>Actions</th>
					</tr>
				</table>
			</div>
			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				
				<div class="countConfigBox">
				<div class="pull-left">
					<label id="" class="labelTemp"><span>Availability Zone</span></label>
					<div id="aZone" class="clickRole temp1stRowWid"><span>Select</span>
						<ul id="aZones" class="dropDown" style="display: none;">
						</ul>
						<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
					</div>
				</div>
				<div style="clear:both;">&nbsp;</div>
					<table style="width:100%">
						<tr role="forAWS">
						 	<td style="padding:0px;width:250px;vertical-align:top;">
								 <div role="tabpanel" class="tab-pane active" id="inbound-aws">
									<div id="noDEpullL" class="pull-left"><span></span><label id="" class="labelTemp">
										<span>Volume Type * </span>
										<a href="#" data-toggle="tooltip" title="" data-original-title=""><span class="infoSignColor glyphicon glyphicon-info-sign"></span></a>
										</label>
										<div id="sel0" class="clickRole borderNoN temp1stRowWid"><span>Select</span><ul id="sels0" class="dropDown"></ul><span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
										</div>
									</div>
									<div class="pull-left" >
										<label class="labelTemp">Volume Size</label>
										<div class="clickRole" style="margin-right:10px">
											<input type="number" onchange="iopsFunction(this.value, this.id)" id="stgsz0" placeholder="" style="border:none;width:100%;">
										</div>
									</div>
									<div class="pull-left padRit">
										<label class="labelTemp">IOPS</label>
										<div class="clickRole temp1stRowWid" id="">
											<input type="text" placeholder="" id="stgIops0" style="border:none;width:100%;">
										</div>
									</div>
									<div class="pull-left padRit">
										<label class="labelTemp">Volume Name</label>
										<div class="clickRole temp1stRowWid" id="">
											<input type="text" placeholder="" id="stgName0" style="border:none;width:100%;">
										</div>
									</div>
									<div class="pull-left padRit" style="padding-top: 32px;">
										<span class="glyphicon glyphicon-plus-sign" onclick="createVol(2);" id="addRole" style="color:#999999;"></span>
									</div>
									
									<div class = "tab-pane fade in active alignAllsides" id="volumes1"></div>
								</div>
							</td>
						</tr>
						<!--<tr role="forAzure">
							<td>
								<nav role="noDes" style="padding:10px;float:left;width:100%;">
									<div class="pull-left padRit">
										<label class="labelTemp">Account Name</label>
										<div class="clickRole temp1stRowWid" id="">
											<input type="text" placeholder="Ex: Name" id="" style="border:none;width:100%;">
										</div>
									</div>
									<div class="pull-left" >
										<label class="labelTemp">Location</label>
										<div class="clickRole" style="margin-right:10px">
											<input type="number" id="mPort" placeholder="Public Port" style="border:none;width:100%;">
										</div>
									</div>
								</nav>
							</td>
						</tr>-->
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td>
								<button class="redButton" style="padding:7px 12px;font-size:16px;" onclick="mV.createVolumeFun(this);">Create</button>
								<button class="redButton countAlign" onclick="mV.cancelV(this)" style="padding:7px 12px;font-size:16px;">Cancel</button>
							</td>
						</tr>
					</table>
				</div>
			</section>
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>
<script src="javascript_1/environments.js"></script>
<script src="javascript_1/manage.js"></script>
<script src="javascript_1/manageVolumes.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");
});
</script>
</body>
</html>