<!DOCTYPE html>
<html>
<title>RapidCloud</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
<link href="css/style1.css" id="" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg" class="cloudops_tab_template">
     <div class="logoBar">
		<div class="col-md-2 logoMenu" id="leftNavigation"></div>
		<div class="col-md-5 mainmenuIcons" id="">
		          <span>
		          <form class="" role="search">
					<div class="input-group add-on">
					  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					  <div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					  </div>
					</div>
					
                  </form>
				  </span>
				  
		</div>
		<div class="col-md-1 padLft0 padRgt0 mainmenuicons">
		      <span><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span><i class="fa fa-bell" aria-hidden="true"></i></span>
		</div>
		
		<div class="col-md-4 padLft0" id="" role="loginArea"></div>
	 </div>
     <div class="mainNavSection">
		  <ul>
			   <li class="organizationTab"><i class="fa fa-gear"></i>Organization</li>		   
			   <li class="cloudopsTab navigationTabActive"><i class="fa fa-cloud"></i>CloudOps</li>
			   <li class="devopsTab"><i class="fa fa-cogs"></i>DevOps</li>
			   <li class="packagesTab"><i class="fa fa-square" aria-hidden="true"></i>Packages</li>
			   <li class="monitoringTab"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitoring</li>
			   <li class="dashboardTab"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</li>
		  </ul>
       </div>
<div>
    <div id="singleNavigation" class="col-md-2">
      <div class="col-md-12">
            <div class="subnavMainTab ">Design</div>
            <ul>
                 <li class="designEnviron"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
				 <!-- <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li> -->
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab subnavMainTabActive">Deploy</div>
            <ul>
                 <li class="deployNetworks"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Networks</li>
				 <li class="navigationTextActive deployEnvironment"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Manage</div>
            <ul>
                 <li class="manageEnvironments"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
				 <li class="manageLoadBalancer"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>LoadBalancer</li>
				<li class="manageTraffic"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>TrafficManager</li>             
            </ul>
      </div>
	 </div>
	 <div class="singleNavigation col-md-10">
	<div class="container">
		<section class="" role="contentArea" id="view_temp">
		
			<header>
				<h1>View Templates</h1>
				
				<aside>
					<input type="text" placeholder="Search Template" id="search" name="q">
					<!--<button id="create_temp" onclick="http://172.29.59.63:3000/create_template">Create Template</button></br>-->
					<!--<h1></h1><div id="data"></div>-->
				</aside>
				<aside><div id="data" style="margin-right: 5px"></div></aside>
			</header>		
			<section role="templatesFilter">
				<ul>
					<li><label><input type="radio" checked="checked" name="filter" value="ATemplates" />All</label></li>
					<li><label><input type="radio" name="filter" value="MTemplates" />Account Templates</label></li>
					<li><label><input type="radio" value="GTemplates"  name="filter" />Multicloud Templates</label></li>
					<!--<li><label><input type="radio" value="STemplates" name="filter" />System Templates</label></li>-->
				</ul>
			</section>
			<section role="template">
			
			</section>
		</section>
		
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea" id="single_node">
			<header>
				<h1>View Nodes</h1>
				<aside>
					<input type="text" placeholder="Search Nodes" id="search1">					
				</aside>
			</header>		
			<section role="templatesFilter">
				<ul>
					<li><label><input type="radio" checked="checked" name="filter1" value="ATemplates" />All</label></li>
					<li><label><input type="radio" name="filter1" value="MTemplates" />AWS</label></li>
					<li><label><input type="radio" value="GTemplates"  name="filter1" />Azure</label></li>
				</ul>
			</section>
			<section role="template1">
			
			</section>
		</section>		
	</div>
	</div>
		<footer>
			    Copyright &copy; to Sonata Software Private Limited.
		</footer>
</div>
</body>
<script src="javascript_1/js.js"></script>
<script src="javascript_1/menu.js"></script>
<!--<script src="javascript_1/vpc.js"></script>-->
<script src="javascript_1/node.js"></script>
</html>