<!DOCTYPE html>
<html>
<title>Nexus AF View</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="theme/theme1.css" id="myTheme" rel="stylesheet"/>
<link href="css/nexus.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
	#pipeView{
		background-color: #EAEAEA;
		padding-bottom: 10px;
	}
	#pipeView span#job{
	    padding: 25px;
		margin: 10px;
		@background: #ff0000;
		color: #000;
		display: inline-block;
		border: 1px solid black;
		}
	#pipeView h5{
	    background-color: #B2C1BC;
		padding: 10px;
		font-weight: bold;
	}
.viewLink1{
	color: #000;
}
	
  
</style>

<body id="bg">

<div class="container">
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
		<nav class="themeCon"><ul id="mainNav"></ul></nav>
			<nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<header >
				<h1>Artifact List<a href=""></a></h1>
				<aside><div id="data"></data></aside>
			</header>
			<div style="clear:both;line-height:10px;">&nbsp;</div>
			<!--<div>&nbsp;</div>-->
			<div id="pipeView">
			</div>
			<div id = "status" class="padTop">
			
			</div>
			
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>

<script src="javascript_1/manage.js"></script>
<script src="javascript_1/nexusafView.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");
});
</script>
</body>
</html>