<!DOCTYPE html>
<html ng-app>
<title>Node Templates</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
	<div class="container">
<!--<div class=	"header-sec">
		<header role="header">
			<a href="#"> <img src="images_1/RapidCloud_Logo.png" /> </a> <span class="header-txt"> Manage, Govern and Optimize your Cloud Environments </span>
			<img src="images_1/Sonata_Logo.png" class="second-logo"/>
			<ul>
				<li><span class="glyphicon glyphicon-bell"></span></li>
				<li><span class="glyphicon glyphicon-envelope"></span></li>
				<li><span class="glyphicon glyphicon-question-sign"></span></li>
				<li><span class="glyphicon glyphicon-cog"></span></li>
			</ul>			
		</header>
		</div>-->
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
			
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea" id="view_temp">
			<nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<div>&nbsp;</div>
			<header>
				<h1>Single Node</h1>
				<aside style="display:none;">
					<input type="text" placeholder="Search Template" id="search" name="q">
					<button id="create_temp" onclick="http://172.29.59.63:3000/create_template">Create Template</button>
				</aside>
				<aside><div id="data"></data></aside>
			</header>
			
		</section>
		<div>&nbsp;</div>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="" id="single_node">	
			<section role="template1">
			
			</section>
		</section>
		
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>
</body>
<!--<script src="javascript_1/js.js"></script>-->
<script src="javascript_1/menu.js"></script>
<script src="javascript_1/node.js"></script>
</html>