<!DOCTYPE html>
<html>
<title>Sonar </title>
<link href="css/dev-ops.css" rel="stylesheet"/>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="theme/theme1.css" id="myTheme" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
	.info span{
	padding: 25px;	
	background-color: #FFF;
    display: inline-block;
	width:100%;
	font-size: large;
	}
	div.pull-left{
	width:100%
	}
	

</style>
<body id="bg">
    
<div class="container">
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
			<nav class="themeCon"><ul id="mainNav"></ul></nav>
			<nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<header>
				<h1>Projects<a href=""></a></h1>
				<aside><div id="data"></data>
			</header>
			<div style="clear:both;line-height:0px;">&nbsp;</div>
			<!--<div>&nbsp;</div>
			<div>
				<table class="nodeSel enviTable">
					<tr id="mvTable">
						<th>Name</th>
						<th>Action</th>
					</tr>
				</table>
			</div>-->
			<div id="sonar-overview"></div>
			<div id="pipeView">
				<div class="sonar-project-list">
					<table class="nodeSel enviTable">
						<tr id="mvTable">
							<th>Sonar Project</th>
							<th>View More</th>
						</tr>
					</table>
					</table>
				</div>
				<div id="severity" style='padding-top:10px;'>
					<label class="padding-right padding-left" style="margin-right:44px;">Severity</label>
				</div>
				<div id="quality-gate"></div>
				<div id="technical-debt"></div>
				<div id="Comments"></div>				
				<div id="complexity"></div>
			</div>
			<div id="action-button" class="marTop-15">
				<button class="btn btn-danger padding-left" id="view-server">View Server</button>
				<button class="btn btn-danger padding-right float-right" id="view-issues">View Issues</button>
			</div>
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>

<script src="javascript_1/manage.js"></script>
<script src="javascript_1/sonarProject.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");
});
</script>
</body>
</html>