<!DOCTYPE html>
<html>
<title>Account</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success alert-accName" role="alert"><b>Account</b> name already exists or it should not include special character<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-success" role="alert"><b>Well done!</b> You successfully read this important alert message.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning" role="alert"><b>Warning!</b> 
		<span class="aw"></span>
		<span class="glyphicon glyphicon-remove-circle closeAlert"></span>
	</div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> 
		<span class="ad"></span>
		<span class="glyphicon glyphicon-remove-circle closeAlert"></span>
	</div>
</div>
<div id="pop"></div>

<div id="create_Sub_POP" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew" style="width:34%;">
			<div class="modal-header">
			<button type="button" id="vmPopupClose" class="close" data-dismiss="modal" aria-label="Close"><!--<span aria-hidden="true">x</span>--></button>
			<h4 class="modal-title">Add VM</h4>
		  </div>
		   <div class="modal-body">
				<ul id="noDEpullL">
					
				</ul>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
			  <div class="modal-footer" id="vmPopBut">
				
			  </div>
		</div>
	</div>
</div>

<div class="container">
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
			<header>
				<h1>Create New DevOps Template<a href=""></a></h1>
				<!--<aside>
					<input type="text" value="Search">
				</aside>-->
			</header>
			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				<div class="roles" style="display:none;">
					<div class="pull-left tempRadio">
						<label><input type="radio" name="templateType" checked="checked"/> My Template</label>
					</div>
					<div class="pull-left tempRadio">
						<label><input type="radio" name="templateType" /> System Template</label>
					</div>
				</div>				
				<div class="cndt_bold">Details</div>
				<div class="roles gapForDiv">
					<div class="pull-left">
						<label class="labelTemp">* Template Name</label>
						<div class="clickRole temp1stRowWid notAllowed" id="t_n">
							<input disabled type="text" placeholder="Ex: Dev_Name" id="t_name" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left">
						<label class="labelTemp">* Project Name</label>
						<div class="clickRole temp1stRowWid notAllowed" id="p_n">
							<input disabled type="text" placeholder="Ex: Dev_Pro_Name" id="p_name" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left" style="">
						<label id="" class="labelTemp"><span>* Technology</span></label>
						<div id="technology_" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="technology_N_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">.NET</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Nodejs</dd></dl></li>
								<li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">Java</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>						
					</div>
					<div class="pull-left" style="display:none;">
						<label id="" class="labelTemp"><span>* Technology Version</span></label>
						<div id="technology_V" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="technology_V_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">1.1</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">2.1</dd></dl></li>
								<li onclick="selectOpt(this,2)" class="Stag"><dl><dt></dt><dd class="va">4.0</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>						
					</div>
				</div>
				<div style="clear:both;">&nbsp;</div>
				<div class="cndt_bold">DevOps Cycle Type</div>
				<div class="roles">
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="ci_check" name="CI"> Continues Integration </label> </div>
					</div>
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="ct_check" name="CT"> Continues Testing </label> </div>
					</div>	
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="cd_check" name="CD"> Continues Delivery </label> </div>
					</div>	
				</div>
				
				<div style="clear:both;">&nbsp;</div>
				<div class="cndt_bold">VM and Packages</div>
				<div class="roles" id="vmAndPackages" style="background:none;padding:0px;">
					<div class="advancedOptionsDiv _ciB">
						<div class="_ci">
							<h2>Continuous integration</h2>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 content_box padZero vmtemCre" id="latestUpdates">
							<div class="tab-content hidden-xs">
								<ul id="infra_List_CI"></ul>
							</div>
						</div>
					</div>
					<div class="advancedOptionsDiv _ctB" style="display:none;">
						<div class="_ci">
							<h2>Continuous Testing</h2>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 content_box padZero vmtemCre">
							<div class="tab-content hidden-xs">
								<ul id="infra_List_CT"></ul>
							 </div>
							</div>
						</div>
					
					<div class="advancedOptionsDiv _cdB" style="display:none;">
						<div class="_ci">
							<h2>Continuous Delivery</h2>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 content_box padZero vmtemCre" id="">
							<div class="tab-content hidden-xs">
								<ul id="infra_List_CD"></ul>
							</div>
						</div>
					</div><div id="om"></div>
				</div>
				</div>
				<div class="templateCreateButtons">
					<button id="cTA_Cancel" onclick="cDT.createTemplateActions(this);">Cancel</button>
					
					<button id="cTA_Create" onclick="cDT.createTemplateActions(this);">Create</button>
					
					<button id="cTA_CreateAndDeploy" onclick="cDT.createTemplateActions(this);">Create & Deploy</button>
					<br><br>
				</div>
			</section>
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>
<script src="javascript_1/test.js"></script>
<script src="javascript_1/menu.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");  
});
</script>
</body>
</html>