<!DOCTYPE html>
<html>
<title>Traffic Manager</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="theme/theme1.css" id="myTheme" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success" role="alert"><b>Load Balancer</b> is created successfully. <span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning dnsName" role="alert"><b>Warning!</b> Enter the Name OR Don't include special character to Load Balancer name and must be unique .<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning epName" role="alert"><b>Warning!</b> Enter the name OR Don't include special character to End point name<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning lbsName" role="alert"><b>Warning!</b> Enter the name OR Don't include special character to Load Balanacer Set name<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> Change a few things up and try submitting again.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
</div>


<div class="container">
		<aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation">
		</aside>
		<section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea">
			 <nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<header>
				<h1>Traffic Managers<a href=""></a></h1>
				<!--<aside>
					<input type="text" value="Search">
				</aside>-->
			</header>
			<div style="clear:both;">&nbsp;</div>
			<div class="roles">
				<div class="pull-left">
					<label id="" class="labelTemp"><span>Environments</span></label>
					<div id="typeDro1" class="clickRole temp1stRowWid"><span>Select</span>
						<ul id="accounts_ID" class="dropDown">
						</ul>
						<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
					</div>						
				</div>
			</div>
			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				<div class="countConfigBox">
					<table style="width:100%">
						<tr>
						 	<td style="padding:0px;width:250px;vertical-align:top;background-color:#DDDDDD;">
								<nav role="noDes">
									<ul>
										<li class="naee"><a href="#">Traffic Manager</a>
										<div style="padding:10px;float:left;width:100%;">
											<div class="pull-left">
												<label class="labelTemp">Profile Name</label>
												<div class="clickRole addStoTabWid">
													<input type="text" id="pfName" placeholder="Any Name" style="border:none;width:100%;">
												</div>
											</div>
											<div class="pull-left">
												<label class="labelTemp">Domain Name</label>
												<div class="clickRole addStoTabWid">
													<input type="text" id="dmName" placeholder="Any Name" style="border:none;width:100%;">
												</div>
											</div>
											<div class="pull-left">
												<label id="" class="labelTemp"><span>Load Balanacer Method</span></label>
												<div id="typeo11" class="clickRole addStoTabWid"><span>Select</span>
													<ul id="ba_Me_ID" class="dropDown" style="display: none;">
													<li onclick="getAccounts(this,0)" class="Dev"><dl><dt style="padding:0px;"></dt><dd class="va">Performance</dd></dl></li>
													<li onclick="getAccounts(this,1)" class="Dev"><dl><dt style="padding:0px;"></dt><dd class="va">RoundRobin</dd></dl></li>
													<li onclick="getAccounts(this,2)" class="Dev"><dl><dt style="padding:0px;"></dt><dd class="va">Failover</dd></dl></li>
													</ul>
													<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
												</div>
											</div>
											<div class="smpxDevider">&nbsp;</div>
											<div class="listeConfiText">Configuration</div>
											<div class="pull-left" style="visibility:hidden;height:0;">
											<label class="labelTemp">Monitor Port</label>
											<div class="clickRole addStoTabWid">
												<input type="text" id="epName" placeholder="Name" style="border:none;width:100%;">
											</div>
											</div>
											<div class="pull-left">
												<label id="" class="labelTemp"><span>Monitor Protocol</span></label>
												<div id="typeDro12" class="clickRole addStoTabWid"><span>Select</span>
													<ul id="as_ID" class="dropDown" style="display: none;">
													<li onclick="getAccounts(this,0)" class="Dev"><dl><dt style="padding:0px;"></dt><dd class="va">Http</dd></dl></li>
													<li onclick="getAccounts(this,1)" class="Dev"><dl><dt style="padding:0px;"></dt><dd class="va">Https</dd></dl></li>
													</ul>
													<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
												</div>
											</div>
											<div class="pull-left" >
											<label class="labelTemp">Monitor Port</label>
											<div class="clickRole" style="margin-right:10px">
												<input type="number" id="mPort" placeholder="Public Port" style="border:none;width:100%;">
											</div>
											</div>
											<div class="smpxDevider">&nbsp;</div>
											<input id="upload-box-Azure" style="visibility:hidden;height:0;" name="Photo" type="file" />
											<button class="redButton" style="padding:7px 12px;font-size:16px;" onclick="trafficManager();">Create</button>
											<button class="redButton countAlign" style="padding:7px 12px;font-size:16px;">Cancel</button>
										</div>
										</li>
									</ul>
								</nav>
							</td>
						</tr>									
					</table>
				</div>
			</section>
		</section>
		<footer>
			<a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
			<span style="float:right;"><img src="images_1/Social_icons.png" /></span>
		</footer>
	</div>
<!--<script src="javascript_1/environments.js"></script>-->
<script src="javascript_1/trafficManager.js"></script>
<script src="javascript_1/manage.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");
});
</script>
</body>
</html>