<!DOCTYPE html>
<html>
  <head>
    <title>View DevOps Template</title>
    <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
    <!--<link href="css/dev-ops.css" rel="stylesheet"/>-->
    <link href="css_1/modules/deployDevOpsTemp.css"  rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="javascript_1/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
  </head>
  <body  id="bg">
    <div class="container">
      <aside class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="leftNavigation"></aside>
      <section class="col-xs-12 col-sm-10 col-md-10 col-lg-10" role="contentArea" id="view_temp">
        <nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
        <div id="DevOpsStages" class="deploy-stages">
          <ol class="track-progress deploy-wizard1 col-xs-12">
            <li class="done">
              <span>Select DevOps Infrastructure</span>
            </li><!--
         --><li>
              <span>Add Cloud Details</span>
            </li><!--
         --><li>
              <span>Preview and Deploy</span>
            </li><!--
         --><li>
              <span>Configure DevOps</span>
            </li>
          </ol>
        </div>
        <hr class="line-seperator"/>
        <section class="deployDevOps col-sm-7" id="templates">
           <div class="col-xs-12 infrastructure" id="infrastructure"></div>
        </section>
        <section class="overview col-sm-5 panel panel-default">
          <div class="panel-heading content-title-heading">Selection Overview</div>
          <div class="panel-body selection-overview">
            <div class="infra-overview">Select any Template</div>
          </div>
        </section>
        <div class="templateCreateButtons">
          <button class="btn btn-lg step1 btn-danger" id="cloudDetails">Next</button>
          <button class="btn btn-lg step1 btn-default active">Cancel</button>
          <button class="btn btn-lg step2 btn-danger hidden" id="backInfrastructure">Back</button>
          <button class="btn btn-lg step2 btn-danger hidden" id="previewDeploy">Next</button>
          <button class="btn btn-lg step3 btn-danger hidden" id="DeployAndExit">Deploy & Exit</button>
          <button class="btn btn-lg step3 btn-danger hidden" id="backCloudDetails">Back</button>
          <button class="btn btn-lg step3 btn-danger hidden" id="configure">Configure</button>
          <button class="btn btn-lg step4 btn-danger hidden" id="backPreviewDeploy">Back</button>
          <button class="btn btn-lg step4 btn-danger hidden" id="">Configure and Deploy</button>
        </div>
      </section>
      <footer>
        <a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Terms of use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Offerings</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Wiki</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact us</a>
        <span style="float:right;"><img src="images_1/Social_icons.png" /></span>
      </footer>
      <div class="modal fade" id="deployDevOps" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="deployModalLabel"></h4>
            </div>
            <div class="modal-body popup-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger add-data" data-dismiss="modal">Add</button>
              <!--<button type="button" class="btn btn-default active" >Close</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content alert-area">
              <div class="modal-body ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="alert-body"></div>
              </div>
            </div>
          </div>
       </div>
    </div>
    <script src="javascript_1/menu.js"></script>
    <script src="javascript_1/viewDevOpsTemp.js"></script>
  </body>
</html>