<!DOCTYPE html>
<html>
<head>
  <title>View DevOps Template</title>
  <link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
  <link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
 
  <!--<link href="css/dev-ops.css" rel="stylesheet"/>-->
  <link href="css_1/modules/deployDevOpsTemp.css"  rel="stylesheet"/>
   <link href="css/style1.css" id="" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="javascript_1/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
</head>
<body  id="bg">
<div class="logoBar">
		<div class="col-md-2 logoMenu" id="leftNavigation"></div>
		<div class="col-md-5 mainmenuIcons" id="">
		          <span>
		          <form class="" role="search">
					<div class="input-group add-on">
					  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					  <div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					  </div>
					</div>
					
                  </form>
				  </span>
				  
		</div>
		<div class="col-md-1 padLft0 padRgt0 mainmenuicons">
		      <span><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span><i class="fa fa-bell" aria-hidden="true"></i></span>
		</div>
		
		<div class="col-md-4 padLft0" id="" role="loginArea"></div>
</div>
<div class="mainNavSection">
		  <ul>
			   <li class="organizationTab"><i class="fa fa-gear"></i>Organization</li>		   
			   <li class="cloudopsTab"><i class="fa fa-cloud"></i>CloudOps</li>
			   <li class="devopsTab navigationTabActive-devops"><i class="fa fa-cogs"></i>DevOps</li>
			   <li class="packagesTab"><i class="fa fa-square" aria-hidden="true"></i>Packages</li>
			   <li class="monitoringTab"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitoring</li>
			   <li class="dashboardTab"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</li>
		  </ul>
</div>
<div id="devOpsDesignTemplate">
<div id="singleNavigation" class="col-md-2">
      <div class="col-md-12">
            <div class="subnavMainTab">Design</div>
            <ul>
                 <li class="designDedicatedDevops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Dedicated DevOps</li>
				 <!-- <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li> -->
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab subnavMainTabActive-devops">Deploy</div>
            <ul>
                 <li class="deployDedicatedDevops navigationTextActive-devops"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Dedicated DevOps</li>
				 <li class="deployPipeline"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Pipeline</li>
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Manage</div>
            <ul>
                 <li class="manageBuild"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Build</li>
				 <li class="manageTechDebt"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>TechDebt</li>
				<li class="manageViewPackages"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>View Packages</li>             
            </ul>
      </div>
</div>
<div class="singleNavigation col-md-10">
<div class="container">
  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" role="contentArea" id="view_temp">
    <nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>

    
    <section class="deployDevOps col-sm-12" id="templates">
      <div class="col-xs-12 infrastructure" id="infrastructure">
        <ul class="nav nav-tabs " role="tablist">
          <li role="presentation" id="configureTemplateTab"  class="active"><a href="#configureTemplate" aria-controls="profile" role="tab" data-toggle="tab">Configure Deployed Template</a></li>
          <li role="presentation" id="deployTemplateTab"><a href="#deployTemplate" aria-controls="home" role="tab" data-toggle="tab">Deploy Template</a></li>
        </ul>
        <div class="tab-content infrastructure-tab-content">
          <div role="tabpanel" class="tab-pane " id="deployTemplate">
		            <div id="DevOpsStages" class="hidden deploy-stages">
      <ol class="track-progress deploy-wizard1 col-xs-12">
        <li class="done">
          <span>Select DevOps Infrastructure</span>
        </li><!--
         --><li>
        <span>Add Cloud Details</span>
      </li><!--
         --><li>
        <span>Preview and Deploy</span>
      </li><!--&lt;!&ndash;
         &ndash;&gt;<li>
        <span>Configure DevOps</span>-->
      </li>
      </ol>
    </div>
	<hr class="line-seperator hidden"/>
          </div>
          <div role="tabpanel" class="tab-pane active table-responsive table-padding" id="configureTemplate">
          </div>
        </div>
      </div>
    </section>
    <section class="overview col-sm-5 panel panel-default" style="display:none">
      <div class="panel-heading content-title-heading">Selection Overview</div>
      <div class="panel-body selection-overview">
        <div class="infra-overview">Select any Template</div>
      </div>
    </section>
    <div class="templateCreateButtons">
      <button class="btn btn-lg step1 btn-danger" id="cancelDedicated">Back</button>
      <button class="btn btn-lg step1 btn-danger hidden" id="cloudDetails">Next</button>
      <button class="btn btn-lg step2 btn-danger hidden" id="backInfrastructure">Back</button>
      <button class="btn btn-lg step2 btn-danger hidden" id="previewDeploy">Next</button>
      <button class="btn btn-lg step3 btn-danger hidden" id="backCloudDetails">Back</button>
      <button class="btn btn-lg step3 btn-danger hidden" id="DeployAndExit">Deploy </button>
      <!--<button class="btn btn-lg step3 btn-danger hidden" id="configure">Configure</button>-->
    </div>
  </section>

  <div class="modal fade" id="deployDevOps" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deployModalLabel"></h4>
        </div>
        <div class="modal-body popup-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger add-data" data-dismiss="modal">Add</button>
          <!--<button type="button" class="btn btn-default active" >Close</button>-->
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-area">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="alert-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <footer>copyright &copy; to Sonata Software</footer>
<script src="javascript_1/menu.js"></script>
<script src="javascript_1/viewDevOpsTemp.js"></script>
</body>
</html>