<!DOCTYPE html>
<html>
<title>Networks - VPC</title>
<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link href="css_1/style.css" id="myTheme" rel="stylesheet"/>
<link href="css/style1.css" id="" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="javascript_1/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<body id="bg">
<div class="alertS">
	<div class="alert alert-success alert-accName" role="alert"><b>Account</b> name already exists or it should not include special character<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-success" role="alert"><b>Well done!</b> You successfully read this important alert message.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-info" role="alert"><b>Heads up!</b> This alert needs your attention, but it's not super important.<span class="glyphicon glyphicon-remove-circle closeAlert"></span></div>
	<div class="alert alert-warning" role="alert"><b>Warning!</b> 
		<span class="aw"></span>
		<span class="glyphicon glyphicon-remove-circle closeAlert"></span>
	</div>
	<div class="alert alert-danger" role="alert"><b>Oh snap!</b> 
		<span class="ad"></span>
		<span class="glyphicon glyphicon-remove-circle closeAlert"></span>
	</div>
</div>
<div id="pop"></div>

<div id="create_Sub_POP" style="display:none;">
	<div class="popupData" style="display:block;z-index:11;position:fixed;"></div>
	  <div class="balance">
		<div class="popDataNew" style="width:34%;">
			<div class="modal-header">
			<button type="button" id="vmPopupClose" class="close" data-dismiss="modal" aria-label="Close"><!--<span aria-hidden="true">x</span>--></button>
			<h4 class="modal-title">Add VM</h4>
		  </div>
		   <div class="modal-body">
				<ul id="noDEpullL">
					
				</ul>
		   </div>
		   <div style="clear:both;">&nbsp;</div>
			  <div class="modal-footer" id="vmPopBut">
				
			  </div>
		</div>
	</div>
</div>
<div class="logoBar">
		<div class="col-md-2 logoMenu" id="leftNavigation"></div>
		<div class="col-md-5 mainmenuIcons" id="">
		          <span>

					<div class="input-group add-on">
					  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					  <div class="input-group-btn">
						<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
					  </div>
					</div>
					

				  </span>
				  
		</div>
		<div class="col-md-1 padLft0 padRgt0 mainmenuicons">
		      <span><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
						<span><i class="fa fa-bell" aria-hidden="true"></i></span>
		</div>
		
		<div class="col-md-4 padLft0" id="" role="loginArea"></div>
</div>
<div class="mainNavSection">
		  <ul>
			   <li class="organizationTab"><i class="fa fa-gear"></i>Organization</li>		   
			   <li class="cloudopsTab navigationTabActive"><i class="fa fa-cloud"></i>CloudOps</li>
			   <li class="devopsTab"><i class="fa fa-cogs"></i>DevOps</li>
			   <li class="packagesTab"><i class="fa fa-square" aria-hidden="true"></i>Packages</li>
			   <li class="monitoringTab"><i class="fa fa-bar-chart" aria-hidden="true"></i>Monitoring</li>
			   <li class="dashboardTab"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</li>
		  </ul>
</div>
<div>
<div id="singleNavigation" class="col-md-2">
      <div class="col-md-12">
            <div class="subnavMainTab">Design</div>
            <ul>
                 <li class="designEnviron"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
				 <!-- <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li> -->
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab subnavMainTabActive">Deploy</div>
            <ul>
                 <li class="navigationTextActive deployNetworks"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Networks</li>
				 <li class="deployEnvironment"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
            </ul>
      </div>
	  <div class="col-md-12">
            <div class="subnavMainTab">Manage</div>
            <ul>
                 <li class="manageEnvironments"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>Environments</li>
				 <li class="manageLoadBalancer"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>LoadBalancer</li>
				<li class="manageTraffic"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>TrafficManager</li>             
            </ul>
      </div>
</div>
<div class="singleNavigation col-md-10">
<div class="container">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" role="contentArea">
			<nav class="themeCon"><ul id="themeNav"></ul><ul class="" id="link_1_0"></ul></nav>
			<div class="mainContent">
			  <!-- Nav tabs -->
              
			  <ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">VPC</a></li>
				<li role="presentation"><a href="#subnet" aria-controls="subnet" role="tab" data-toggle="tab">Subnet</a></li>
				<li role="presentation"><a href="#securityGroup" aria-controls="securityGroup" role="tab" data-toggle="tab">Security Group</a></li>
				<li role="presentation"><a href="#internetGateway" aria-controls="internetGateway" role="tab" data-toggle="tab">Internet Gateway</a></li>
				<li role="presentation"><a href="#vpnConnection" aria-controls="vpnConnection" role="tab" data-toggle="tab">VPN Connection</a></li>
				<li role="presentation"><a href="#keyPair" aria-controls="keyPair" role="tab" data-toggle="tab">Key pair</a></li>
				<li role="presentation"><a href="#localNetworkGateway" aria-controls="localNetworkGateway" role="tab" data-toggle="tab">Local Network Gateway</a></li>
				<li role="presentation"><a href="#routeTable" aria-controls="routeTable" role="tab" data-toggle="tab">Route table</a></li>
				<li role="presentation"><a href="#DNSZone" aria-controls="DNSZone" role="tab" data-toggle="tab">DNS Zone</a></li>
				<li role="presentation"><a href="#endPoint" aria-controls="endPoint" role="tab" data-toggle="tab">Endpoint</a></li>
				<li role="presentation"><a href="#virtualNetworkGatWay" aria-controls="virtualNetworkGatWay" role="tab" data-toggle="tab">Virtual network gateway</a></li>
				<!-- <li role="presentation"><a href="#create_template" aria-controls="create_template" role="tab" data-toggle="tab">Create template</a></li> -->
			  </ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
			<header>
				<h1>Networks - VPC<a href=""></a></h1> 
				<aside><div id="data"></data></aside>
			</header>
			<section role="createTemplate">
				<div style="clear:both;">&nbsp;</div>
				<div class="roles" style="display:none;">
					<div class="pull-left tempRadio">
						<label><input type="radio" name="templateType" checked="checked"/> My Template</label>
					</div>
					<div class="pull-left tempRadio">
						<label><input type="radio" name="templateType" /> System Template</label>
					</div>
				</div>				
				<div class="cndt_bold">Details</div>
				<div class="row" id="assignNode"></div>
				<div class="roles gapForDiv">
					<div class="pull-left" id="sel" style="">
						<label id="" class="labelTemp"><span>* Choose your cloud</span></label>
						<div id="chooseUrCloud" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="sels" class="dropDown" style="display: none;">
								<!--<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">AWS</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Azure</dd></dl></li>-->
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>						
					</div>
					<div class="pull-left" style="">
						<label id="" class="labelTemp"><span>* Choose region</span></label>
						<div id="chooseRegion" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="chooseRegion_Drop" class="dropDown" style="display: none;">
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>						
					</div>
					<div class="pull-left" role="forAzure" id="deploymentMode_D" style="display:none;">
						<label id="" class="labelTemp"><span>* Select Deployment Model</span></label>
						<div id="deploymentMode" style="min-width:176px;" class="clickRole temp1stRowWid"><span>Select</span>
							<ul id="deploymentMode_Drop" class="dropDown" style="display: none;">
								<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Resource Manager</dd></dl></li>
								<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Classic Model</dd></dl></li>
							</ul>
							<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
						</div>						
					</div>
					<div class="pull-left" role="forAzure" id="rmName_D" style="display:none;">
						<label class="labelTemp">* RM name</label>
						<div class="clickRole temp1stRowWid" id="t_n" style="position:relative;">
							<input type="text" placeholder="Ex: RM Name" id="RM_name" style="border:none;width:100%;">
							<!-- <button style="position:absolute;top:10px;right:-55px;margin:0px;font-size:13px;" class="buttonSm" onclick="cDT.createTemplateActions(this);">Create</button> -->
						</div>
					</div>
				</div>
				
				<div style="clear:both;">&nbsp;</div>
				<div class="roles" style="display:none;">
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="ci_check" name="CI"> Continues Integration </label> </div>
					</div>
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="ct_check" name="CT"> Continues Testing </label> </div>
					</div>	
					<div class="pull-left">
						<div class="checkbox checkbox-inline"> <label> <input type="checkbox" id="cd_check" name="CD"> Continues Delivery </label> </div>
					</div>	
				</div>
				
				<div class="cndt_bold">Create VPC</div>
				<div class="roles gapForDiv">
					
					
					
					<div class="pull-left">
						<label class="labelTemp">* VPC name</label>
						<div class="clickRole temp1stRowWid" id="t_n">
							<input type="text" placeholder="Ex: VPC Name" id="vpcName" style="border:none;width:100%;">
						</div>
					</div>
					<div class="pull-left" style="" role="forAWS">
							<label id="" class="labelTemp"><span>* Hardware Tenancy</span></label>
							<div id="hardwareTen" class="clickRole temp1stRowWid"><span>Select</span>
								<ul id="hardwareTen_Drop" class="dropDown" style="display: none;">
									<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">default</dd></dl></li>
									<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">dedicated</dd></dl></li>
								</ul>
								<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
							</div>						
						</div>
					<div class="pull-left">
						<label class="labelTemp">* IP CIDR Block</label>
						<div class="clickRole temp1stRowWid" id="t_n">
							<input type="text" placeholder="Ex: 10.0.0.0/24" id="cidrBlk" style="border:none;width:100%;">
						</div>
					</div>
					
					<div style="clear:both;">&nbsp;</div>
					<a href="#" class="showadvancedOpt pull-right" style="display:none;" role="forAWS" style="font-size:12px;">Advanced Options</a>
				</div>
				<div class="advancedOpt" style="display:none;">
					<div style="clear:both;">&nbsp;</div>
					<div class="cndt_bold">Advanced Options</div>
					<div class="roles gapForDiv">
						<div class="pull-left" style="width:270px;">
							<label id="" class="labelTemp"><span>* Add endpoints for S3 to your subnets</span></label>
							<div id="endpointFs2" class="clickRole temp1stRowWid"><span>Select</span>
								<ul id="endpointFs2_Drop" class="dropDown" style="display: none;">
									<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">Option 1</dd></dl></li>
									<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">Option 2</dd></dl></li>
								</ul>
								<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
							</div>
						</div>
						<div class="pull-left" style="">
							<label id="" class="labelTemp"><span>* Hardware Tenancy</span></label>
							<div id="hardwareTen" class="clickRole temp1stRowWid"><span>Select</span>
								<ul id="hardwareTen_Drop" class="dropDown" style="display: none;">
									<li onclick="selectOpt(this,0)" class="Dev"><dl><dt></dt><dd class="va">default</dd></dl></li>
									<li onclick="selectOpt(this,1)" class="Test"><dl><dt></dt><dd class="va">dedicated</dd></dl></li>
								</ul>
								<span id="" class="glyphicon glyphicon-chevron-down pull-right"><span></span></span>
							</div>						
						</div>
						<div style="clear:both;">&nbsp;</div>
						<div class="pull-left">
							<div class="checkbox"> <label style="padding-left: 0px; !important;"> <input type="radio" id="vpcs_check" name="vpc"> Enable Host Name</label> </div>
						</div>
						<div class="pull-left">
							<div class="checkbox"> <label> <input type="radio" id="" select="" name="vpc"> Disable Host Name </label> </div>
						</div>
						
						<div style="clear:both;">&nbsp;</div>
						<div class="pull-left">
							<div class="checkbox"> <label style=""> <input type="checkbox" id="vpcs_check" name="vpc"> Route Table</label> </div>
						</div>
						<div class="pull-left">
							<div class="checkbox"> <label> <input type="checkbox" id="" name="vpc">Internet Gateway</label> </div>
						</div>
						<div class="pull-left">
							<div class="checkbox"> <label> <input type="checkbox" id="" name="vpc">Security Group</label> </div>
						</div>
					</div>
				</div>
				<div class="templateCreateButtons">
					<button id="cTA_Create" onclick="cDT.createTemplateActions(this);">Cancel</button>
					<button id="cTA_CreateAndDeploy" onclick="createVpc();">Create</button>&nbsp;
					<!-- <button id="cTA_Next" style="background-color:#e06969;" onclick="location.href='subnet'">Next</button>-->
					<br><br>
				</div>
			</section>
			 </div>
			 <div role="tabpanel" class="tab-pane fade" id="subnet"></div>
				<div role="tabpanel" class="tab-pane fade" id="securityGroup"></div>
				<div role="tabpanel" class="tab-pane fade" id="internetGateway"></div>
				<div role="tabpanel" class="tab-pane fade" id="vpnConnection"></div>
				<div role="tabpanel" class="tab-pane fade" id="keyPair"></div>
				<div role="tabpanel" class="tab-pane fade" id="localNetworkGateway"></div>
				<div role="tabpanel" class="tab-pane fade" id="routeTable"></div>
				<div role="tabpanel" class="tab-pane fade" id="DNSZone"></div>
				<div role="tabpanel" class="tab-pane fade" id="endPoint"></div>
				<div role="tabpanel" class="tab-pane fade" id="virtualNetworkGatWay"></div>
				
			 </div>
			</div>
		</section>
	</div>
	</div>
</div>
<footer>copyright &copy; to Sonata Software</footer>
<script src="javascript_1/menu.js"></script>
<script src="javascript_1/vpc.js"></script>
<script src="javascript_1/subnet.js"></script>
<script src="javascript_1/secGroup.js"></script>
<script src="javascript_1/gateway.js"></script>
<script src="javascript_1/key.js"></script>
<script src="javascript_1/localGateWay.js"></script>
<script src="javascript_1/route.js"></script>
<script src="javascript_1/dns.js"></script>
<script src="javascript_1/endpoint.js"></script>
<script src="javascript_1/vnetgtway.js"></script>
<script>
$(document).ready(function()
{
  $(".nodeSel tr:odd").css("background-color", "#eee");  
});
</script>
</body>
</html>