.track-progress {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.track-progress li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: grey;
}

.track-progress li:first-child:nth-last-child(6),
.track-progress li:first-child:nth-last-child(6) ~ li {
  width: 16.66%;
  max-width: 300px;
}
.track-progress li:first-child:nth-last-child(5),
.track-progress li:first-child:nth-last-child(5) ~ li {
  width: 20%;
  max-width: 300px;
}
.track-progress li:first-child:nth-last-child(4),
.track-progress li:first-child:nth-last-child(4) ~ li {
  width: 25%;
  max-width: 300px;
}
.track-progress li:first-child:nth-last-child(3),
.track-progress li:first-child:nth-last-child(3) ~ li {
  width: 33.33%;
  max-width: 300px;
}
.track-progress li:first-child:nth-last-child(2),
.track-progress li:first-child:nth-last-child(2) ~ li {
  width: 50%;
  max-width: 300px;
}

.track-progress li > span {
  display: block;
  color: black;
  font-weight: bold;
  font-size: 1vw;
  padding-left: 30px;
  text-transform: uppercase;
}

.track-progress li:first-child  > span{
  padding-left: 10px;
}

.track-progress li.done > span {
  color: #fff;
  background-color: #e13f3e;
}

.track-progress li > span:after,
.track-progress li > span:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: grey;
  border-width: 25px;
}

.track-progress li > span:after {
  top: -5px;
  z-index: 1;
  border-left-color: white;
  border-width: 30px;
}

.track-progress li > span:before {
  z-index: 2;
}
.track-progress li.done + li > span:before {
  border-left-color: #e13f3e;
}

.track-progress li:first-child > span:after,
.track-progress li:first-child > span:before {
  display: none;
}